/*
* base
*/
body {
    font-size: $fs-base;
    font-weight: $fw-regular;
    color: $fc-base;
    line-height: $lh-base;
    font-family: $ff-base;
}

strong, 
b {
    font-weight: $fw-bold;
}

/*
* headings
*/
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    color: $fc-headings;
    line-height: $lh-headings;
    font-family: $ff-headings;
    letter-spacing: $ls-headings;
}

h1,
.page-title {
    font-size: $fs-h1;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: $fs-h2;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
}

h3 {
    font-size: $fs-h3;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

h4 {
    font-size: $fs-h4;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

h5 {
    font-size: $fs-h5;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

h6 {
    font-size: $fs-h6;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

a {
    color: $fc-links;
    transition: all $trs-speed ease-in-out;

    &:hover {
        color: $fc-links;
    }
}
