/*
* your button styles go here
*/
.btn {
    display: inline-block;
    appearance: none;
    font-family: $ff-base;
    transition: all $trs-speed ease-in-out;
    padding: $spacer/4 $spacer*2;
    cursor: pointer;
    border-radius: 0;
    
    &:hover {
        text-decoration: none;
    }

    &--primary {
        background-color: $clr-primary;
        color: #fff;
        text-transform: uppercase;
        font-size: $fs-base;
        font-weight: $fw-semi-bold;

        &:hover {
            color: #fff;
            background-color: darken($clr-primary, 5%);
        }
    }
}